@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

*{
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color:#49b7ee;
}


.container{
  margin-top: 1rem;
  flex-direction: column;
  padding:1.3rem 2rem;
  background:rgb(255, 255, 255);
  width: 500px;
  height: 700px;
  border-radius:10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h1{
  text-align: center;

}

img {
  width: 100%;
  object-fit: cover;
  max-height: 500px;
  border-radius:15px;
}